.srachPlace {
  ul {
    position: absolute;
    padding: 0;
    z-index: 1;
    background-color: #fff;
    li {
      cursor: pointer;
      list-style: none;
      padding: 7px;
      border-bottom: 1px solid #d2d2d2;
    }
  }
}
.mat-form-field{
  width: 100% !important;
  margin: 0 10px;
}
