<div class="form-container">
    <!-- begin form -->
    <div class="form-content">

      <form class="form" [formGroup]="changePasswordFG">
        <mat-form-field appearance="outline">
            <mat-label>{{ "MANAGERS.PASSWORD" | translate }} </mat-label>
            <input required type="password" formControlName="password" matInput />
            <mat-error
              *ngIf="f.password.hasError('required')"
              [translate]="'SHARED_VALIDATE.REQIERD'"
              [translateParams]="{ value: 'MANAGERS.USER_NAME' | translate }"
            >
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{ "MANAGERS.CONFIRM_PASSWORD" | translate }} </mat-label>
            <input required type="password" formControlName="confirmPassword" matInput />
            <mat-error
              *ngIf="f.confirmPassword.hasError('required')"
              [translate]="'SHARED_VALIDATE.REQIERD'"
              [translateParams]="{ value: 'MANAGERS.USER_NAME' | translate }"
            >
            </mat-error>
            <mat-error *ngIf="f.confirmPassword.hasError('mustMatch')">
              {{
                "SHARED_VALIDATE.NOT_MATCHED_FORM"
                  | translate
                    : {
                        first: "MANAGERS.USER_NAME" | translate,
                        second: "MANAGERS.CONFIRM_USER_NAME" | translate
                      }
              }}
            </mat-error>
          </mat-form-field>
      </form>
    </div>
    <div class="form-footer">
      <button [routerLink]="['/managers']" mat-stroked-button>
        {{ "GENERAL.BACK" | translate }}
      </button>
      <button [disabled]="changePasswordFG.invalid" [promiseBtn]="subscriptions" (click)="saveInfo()" color="primary" mat-raised-button>
        {{ "GENERAL.EDIT_SAVE" | translate }}
      </button>
    </div>
    <!-- end form -->
  </div>