
.no-data {
    padding: 17px 0;
    .no-data-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 20%;
      }
    }
    .no-data-label {
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        font-weight: bolder !important;
        font-size: 25px;
        padding: 14px 0 0 0;
        color: #9c9c9c;
      }
    }
  }
  