<div class="items">
  <div *ngFor="let item of items" class="item">
    <div class="image">
      <img [src]="appConfig.apiEndpoint + '/profile/GetAvatarImage/' + item.userId" />
    </div>
    <div class="description">
      <div class="top">
        <div [routerLink]="['/profile/'+item.userId]" class="name">
          <i class="fal fa-user-crown"></i> {{item.displayName}}
        </div>
        <div class="price">$ {{ item.budget }}</div>
      </div>
      <div class="bottom">
        <div class="destination">
          <i class="fal fa-compass"></i> {{ item.country }}. {{ item.city }}
        </div>
        <div class="lookingFor"><i class="fal fa-campground"></i> {{item.travelResident}}</div>
      </div>
      <div class="under">
        <div class="travelDate">
          <i class="fal fa-calendar-alt"></i>
          {{ item.startDate | date: "yyyy/MM/dd" }} -
          {{ item.endDate | date: "yyyy/MM/dd" }} (
          {{ item.diffDate(item.endDate, item.startDate) }} days )
        </div>
        <div class="travelby">
          <i class="far fa-route-highway"></i> {{item.travelType}}
        </div>
      </div>
    </div>
    <div class="button">
      <button *ngIf="!item.mustConfirm" [disabled]="item.owner || item.status==status.Accepted || item.status==status.Rejected" [ngClass]="status[item.status]" (click)="sendRequest(item.userId,item.id,item.status,item.requestId)">
        <span *ngIf="!item.owner || item.status==0">
          {{status[item.status]}}
        </span>
      </button>
      <div class="confirmButton" *ngIf="item.mustConfirm">
        <button (click)="reject(item.id)" >Reject</button>
        <button (click)="confirm(item.id)">Confirm</button>
      </div>
    </div>
  </div>
</div>
