<toollbar></toollbar>
<div class="mainContainer">
  <div class="searchPanel">
    <div class="searchBox">
      <div class="headerSearch">
        <div class="icon">
          <i class="fal fa-calendar-edit"></i>
        </div>
        <div class="name">
          <label>Date</label>
        </div>
      </div>
      <div class="content dateSearch">
        <div class="from">
          <div class="searchInput">
            <div class="input-group prefix">
              <span class="input-group-addon"
                ><i class="fal fa-calendar-check"></i
              ></span>
              <input id="date-input-from" type="text" name="input" />
            </div>
          </div>
        </div>
        <div class="to">
          <div class="searchInput">
            <div class="input-group prefix">
              <span class="input-group-addon"
                ><i class="fal fa-calendar-check"></i
              ></span>
              <input id="date-input-to" type="text" name="input" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="searchBox">
      <div class="headerSearch">
        <div class="icon">
          <i class="fal fa-calendar-edit"></i>
        </div>
        <div class="name">
          <label>Looking For</label>
        </div>
      </div>
      <div class="content dateSearch">
        <div class="from">
          <div class="searchInput">
            <div class="input-group prefix">
              <span class="input-group-addon circleIcon"
                ><i class="fal fa-male"></i
              ></span>
              <label>Male</label>
            </div>
          </div>
        </div>
        <div class="to">
          <div class="searchInput">
            <div class="input-group prefix">
              <span class="input-group-addon circleIcon"
                ><i class="fal fa-female"></i
              ></span>
              <label>Female</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="searchBox">
      <div class="headerSearch">
        <div class="icon">
          <i class="fal fa-calendar-edit"></i>
        </div>
        <div class="name">
          <label>Destination </label>
        </div>
      </div>
      <div class="searchInput">
        <div class="input-group prefix">
          <span class="input-group-addon"><i class="fal fa-search"></i></span>
          <input type="text" name="input" />
        </div>
      </div>
      <div class="content scrollContent travelBy destination">
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-plane"></i>
            </div>
            <div class="item_value_label">
              <label>Airplain</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-car"></i>
            </div>
            <div class="item_value_label">
              <label>Car</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-subway"></i>
            </div>
            <div class="item_value_label">
              <label>Train</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-subway"></i>
            </div>
            <div class="item_value_label">
              <label>Train</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-subway"></i>
            </div>
            <div class="item_value_label">
              <label>Train</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-ship"></i>
            </div>
            <div class="item_value_label">
              <label>Ship</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-walking"></i>
            </div>
            <div class="item_value_label">
              <label>Walk</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="searchBox">
      <div class="headerSearch">
        <div class="icon">
          <i class="fal fa-calendar-edit"></i>
        </div>
        <div class="name">
          <label>Travel By</label>
        </div>
      </div>
      <div class="content travelBy">
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-plane"></i>
            </div>
            <div class="item_value_label">
              <label>Airplain</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-car"></i>
            </div>
            <div class="item_value_label">
              <label>Car</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-subway"></i>
            </div>
            <div class="item_value_label">
              <label>Train</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-ship"></i>
            </div>
            <div class="item_value_label">
              <label>Ship</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-walking"></i>
            </div>
            <div class="item_value_label">
              <label>Walk</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="searchBox">
      <div class="headerSearch">
        <div class="icon">
          <i class="fal fa-calendar-edit"></i>
        </div>
        <div class="name">
          <label>Stay at</label>
        </div>
      </div>
      <div class="content travelBy">
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-plane"></i>
            </div>
            <div class="item_value_label">
              <label>Hotel</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-car"></i>
            </div>
            <div class="item_value_label">
              <label>Motel</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-subway"></i>
            </div>
            <div class="item_value_label">
              <label>Camping</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-ship"></i>
            </div>
            <div class="item_value_label">
              <label>Van</label>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item_checkbox">
            <input type="checkbox" />
          </div>
          <div class="item_value">
            <div class="item_value_icon">
              <i class="fal fa-walking"></i>
            </div>
            <div class="item_value_label">
              <label>Host</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="passengers">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="mobileSearchButton"></div>
