<div class="form-container">
  <!-- begin form -->
  <div class="form-content">
    <form class="form" [formGroup]="changeRoleForm">
      <div class="role-container">
        <mat-form-field appearance="outline">
          <mat-label>{{ "MANAGERS.GENDER" | translate }}</mat-label>
          <mat-select required formControlName="roleId">
            <mat-option
              *ngFor="let item of allRoles"
              [value]="item._id"
            >
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="form-footer">
    <button [routerLink]="['/managers']" mat-stroked-button>
      {{ "GENERAL.BACK" | translate }}
    </button>
    <button
      [promiseBtn]="subscription"
      color="primary"
      (click)="saveInfo()"
      mat-raised-button
    >
      {{ "GENERAL.EDIT_SAVE" | translate }}
    </button>
  </div>
  <!-- end form -->
</div>
